<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You have been contact by <%= @email%> via the contact form!</h3>
    <p>
    	<%= @content%>
    </p>
  </body>
</html>