<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You have been invited to journalofgood.org by <%= @inviter%></h3>
    <p>
      To confirm your account, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>