<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h3>Plase follow the following instructions to reset your email</h3>
		<p>
			Your password has been reset temporarily to <%= @password %>.
			Login using this password now and change your password.
		</p>
	</body>
</html>