body {
  background: #F1F1D4;  
  font-family: 'PT Sans', sans-serif;
  a{
    text-decoration:none;
    color:#428BCA;
    &:hover{
      color: #2A6496; 
      text-decoration:underline;
    } 
    &:visited{
      color:#428BCA;
    }
  }
}

.blog-container
{
  background: #f7f7f7;  
}

.logo-img {
  vertical-align:middle;
  float:left;
  margin: 2px 6px 0px 0px;
  width: 50px;
}

.main-header {
 background-color: #990000;
 margin: 4px;
 padding: 4px;
 border-radius:8px;
 a {
   color: white;
   &:hover{
    color: #FFFD40; 
   } 
   &:visited{
     color:white;
     &:hover{
      color: #FFFD40; 
    } 
   }
   
 }
 h5{
   color: white;
 }
}

.content {
  h1 {
    font-size: 20px;
    font-weight: normal;
  }
  header{
    border-top:none;
  }
 section{
  border-radius:25px;
  margin:10px;
  padding: 5px;
  text-align:justify;
 } 
}


.widget {
  header{
    background-color :white;
  }
}

.readmore{
  padding-left: 10px; 
}
