<div class="narrow-form-wrapper">
<%= form_for(@session, html:{class:"form-narrow",role:"form"}) do |f| %>
	<% if notice%>
  		<div class="alert alert-info"><%= notice%></div>
	<% end%>
  <h2 class="form-narrow-heading">Please Sign In</h2>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :email, class:"form-control",placeholder: "Email address" %>
  </div>
  <br/>
  <div class="field">
    <%= f.password_field :password , class:"form-control",placeholder: "Password"%>
  </div>
  <div class="actions">
    <%= f.submit :Login, class:"btn btn-lg btn-primary btn-block"%>
  </div>
  <div class="text-center">
  	<%= link_to("Forgot password?", new_password_reset_email_path)%>
  </div>
<% end %>
</div>
