<li><%= link_to "My Journal", entries_path if loggedin%></li>
<li><%= link_to "Invitations", invitations_path  if loggedin%></li>
<li><%= link_to "Change Password", edit_password_path if loggedin%></li>
<li><%= link_to "Log Out", sessions_path , method: :delete if loggedin%></li>
<li><%= link_to "Log In", sessions_new_path unless loggedin%></li>
