<div class="row">
		<div class="col-md-2 text-right">
			<% unless local_assigns[:date].nil?%>
				<h4>
					<%=date.to_formatted_s(:rfc822) %>
				</h4>
			<%end%>
		</div>
		<div class="col-md-8">
			<div class="entry">
				<blockquote>
					<p>
						<%= entry.content %>
					</p>
					<footer>
						<% if entry.anonymous%>
						Anonymous
						<% else %>
						<%= entry.user.name%>
						<% end %>
						<%= "in journals" unless entry.journal_list.empty? %>
						<% entry.journal_list.each do |journal| %>
						<%= link_to journal,controller: "entries", action: "journal", journal: journal %>
						<% end%>

						<br/>
						<% if entry.user_id == session[:user_id] and show_actions%>
						  <%= link_to 'Edit', edit_entry_path(entry)%>
						  <%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
						<%end%>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="col-md-2"></div>

	</div>