<div class="row">
	<div class="col-sm-1 col-md-2"></div>
	<div class="col-sm-10 col-md-8">
		<%= form_for(@entry) do |f| %>
		<% if @entry.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @entry.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="field">
			<%= f.text_area :content , class:"form-control", rows:4,placeholder: "Write down your good deed!"%>
		</div>
		<br/>
		<div class="field">
			<%= f.text_field :journal_list , class:"form-control",placeholder: "Comma separated list of journals"%>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-4">
				<label> <%= f.check_box :anonymous %>
					Anonymous </label>
			</div>
			<div class="col-xs-4">
				<label> <%= f.check_box :publish %>
					Publish </label>
			</div>
			<div class="actions col-xs-4" >
				<%= f.submit "Save Entry", class:"btn btn-md btn-primary pull-right" %>
			</div>
		</div>
		<% end %>
	</div>
	<div class="col-sm-1 col-md-2"></div>
</div>
