<div class="container">
	<%= render partial: "paginate"%>
	<%
	dates = Set.new
	@entries.each do |entry|
	  if dates.include?(entry.created_at.to_date) %>
		<%= render partial: "entry", locals:{entry:entry, show_actions:false}%>
  	  <% else
	  	dates << entry.created_at.to_date %>
	  	<%= render partial: "entry", locals:{entry:entry, show_actions:false, date:entry.created_at.to_date }%>
	  <% end%>
	<% end %>
	<%= render partial: "paginate"%>
</div>

