<div class="container">
	<% if notice%>
	<div class="alert alert-info">
		<%= notice%>
	</div>
	<% end%>
	<%= render partial: "entry", locals:{entry:@entry, show_actions:true}%>
	<div class="col-sm-1 col-md-2"></div>
	<div class="col-sm-10 col-md-8">
		<%= link_to "Back to My Journal", entries_path%>
	</div>
	<div class="col-sm-1 col-md-2"></div>
</div>
