<div class="container">
	<% if @user.invitations.size < 20%>
	<div class="row">
		<div class="col-sm-1 col-md-2"></div>
		<div class="col-sm-10 col-md-8">
			<%= form_for(@invitation) do |f| %>
			<% if @invitation.errors.any? %>
			<div class="row">
				<div class="col-xs-12">
					<div id="error_explanation">
						<ul>
							<% @invitation.errors.full_messages.each do |msg| %>
							<li>
								<%= msg %>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<% end %>
			<div class="row">
				<div class="field col-sm-9">
					<%= f.text_field :email, class:"form-control",placeholder: "Email address" %>
				</div>
				<div class="actions col-sm-3">
					<%= f.submit "Send invitation", class:"btn btn-md btn-primary center-block" %>
				</div>
			</div>
			</br>
			<div class="row">
				<div class="col-xs-12">
					<%= recaptcha_tags(:display => {"theme"=>"white"}) %>
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-sm-1 col-md-2"></div>
	</div>
	<br/>
	<% end %>
	<div class="row">
		<div class="col-sm-1 col-md-2"></div>
		<div class="col-sm-10 col-md-8">
			<div class="list-group">
				<p class="text-center">You have <%= 20- @user.invitations.size %> invitations left.</p>
				<% @invitations.each do |invitation|
				if invitation.materialized?%>
				<li class="list-group-item list-group-item-success">
					<div class="row">
						<div class="col-sm-6">
							<%= invitation.email %>
						</div>
						<div class="col-sm-6">
							Account has been created
						</div>
					</div>
				</li>
				<% else %>
				<li class="list-group-item list-group-item-warning">
					<div class="row">
						<div class="col-sm-6">
							<%= invitation.email %>
						</div>
						<div class="col-sm-6">
							Account has not been created
						</div>
					</div>
				</li>
				<% end
				end %>
			</div>
		</div>

		<div class="col-sm-1 col-md-2"></div>
	</div>
</div>