<div class="narrow-form-wrapper">
	<%= form_for(@contact, html:{class:"form-narrow",role:"form"}) do |f| %>
	<h2 class="form-narrow-heading">Contact Us</h2>
	<% if @contact.errors.any? %>
	<div id="error_explanation">
		<ul>
			<% @contact.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%= f.text_field :email, class:"form-control",placeholder: "Your Email address" %>
	</div>
	<br/>
	<div class="field">
		<%= f.text_area :content, class:"form-control",placeholder: "Your Message",rows:5 %>
	</div>
	<br/>
	<%= recaptcha_tags(:display => {"theme"=>"white"}) %>
	<div class="actions">
		<%= f.submit "Submit", class:"btn btn-lg btn-primary btn-block"%>
	</div>
	<% end%>
</div>