<section>
  <%= render partial: 'monologue/posts/post_header', locals: {post: post} %>

  <div class="content" data-monologue="content">
    <%= truncate_html(post.content, length: 1000, omission: '...'+link_to(t(".readmore"), post.full_url,class:'readmore')) %>
  </div>

  <div class="tags" data-monologue="tags">
    <%= render post.tags %>
  </div>
</section>