<div class="container">
	<div class="row">
		<div class="col-sm-2 col-xs-1"></div>
		<div class="col-sm-8 col-xs-10">
			<h3> About Journal of Good</h3>
			<p>
				The logo that you see on the left hand side above represents a four leaf clover and and a horseshoe,
				both which are symbols of good luck.
				But what is good luck if not the returns of the good deeds that we do?
				This is a journal where you can write down such good deeds.
				Everyone will be able to see what you write, but you have the option of being anonymous.
				This application was written in the hope that the users will be motivated to do good and to
				be happy about the good things that the others do.
			</p>
			<p>
				Currently this site is invitation only, in order to prevent spamming.
				But if you really feel that you could use this application,
				don't hesitate to contact us via the contact form and we will see what can be done.
			</p>
		</div>
		<div class="col-sm-2 col-xs-1"></div>
	</div>
</div>
