<div class="narrow-form-wrapper">
	<%= form_for(@password, html:{class:"form-narrow",role:"form"}) do |f| %>
    <h2 class="form-narrow-heading">Change Password</h2>
	<% if @password.errors.any? %>
	<div id="error_explanation">
		<ul>
			<% @password.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%= f.password_field :password , class:"form-control",placeholder: "New Password"%>
	</div>
	<br/>
	<div class="field">
		<%= f.password_field :password_confirmation , class:"form-control",placeholder: "Repeat Password"%>
	</div>
	<div class="actions">
		<%= f.submit :Change, class:"btn btn-lg btn-primary btn-block"%>
	</div>
	<% end%>
</div>