<div class="narrow-form-wrapper">
	<%= form_for(@reset_email, html:{class:"form-narrow",role:"form"}) do |f| %>
	<h2 class="form-narrow-heading">Reset Password</h2>
	<% if @reset_email.errors.any? %>
	<div id="error_explanation">
		<ul>
			<% @reset_email.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%= f.text_field :email, class:"form-control",placeholder: "Email address" %>
	</div>
	<%= recaptcha_tags(:display => {"theme"=>"white"}) %>
	<div class="actions">
		<%= f.submit "Send Email", class:"btn btn-lg btn-primary btn-block"%>
	</div>
	<% end%>
</div>
