
<div class="narrow-form-wrapper">
<%= form_for(@confirmation, html:{class:"form-narrow",role:"form"}) do |f| %>
  <h2 class="form-narrow-heading">Confirm Account</h2>
  <% if @confirmation.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @confirmation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
		<%= f.text_field :user_name , class:"form-control",placeholder: "User Name"%>
	</div>
	<br/>
	<div class="field">
		<%= f.password_field :password , class:"form-control",placeholder: "Password"%>
	</div>
	<br/>
	<div class="field">
		<%= f.password_field :password_confirmation , class:"form-control",placeholder: "Repeat Password"%>
	</div>
	<div class="actions">
		<%= f.submit :Confirm, class:"btn btn-lg btn-primary btn-block"%>
	</div>
<%end%>
</div>