// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap_override";

.entry{
  font-family: 'Delius', cursive;
  background-color:#FFFFFF;
  border-radius:25px;
  blockquote{
    font-size:16px;
  }
}