
@import "bootstrap_override";

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: rgb(226, 177, 177);
}

#error_explanation {
  border: 2px solid rgb(226, 177, 177);
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    @extend .bg-danger;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
