<!DOCTYPE html>
<html lang="en">
<head>
  <title>Journalofgood</title>
  <script>
  //google analytics tracking code
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51099752-3', 'journalofgood.org');
          ga('send', 'pageview');
  </script>
  <link href='http://fonts.googleapis.com/css?family=Delius|Julius+Sans+One|PT+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
          	<%=image_tag('logo.png', class: 'logo-img') %>
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%= root_path%>">Journal of Good</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="<%= "active" if request.path == main_app.root_path %>"><a href="<%= main_app.root_path%>">Home</a></li>
                <li><a href="<%= monologue.root_path%>">Blog</a></li>
                <li class="<%= "active" if request.path == '/statics/about' %>"><a href="/statics/about">About</a></li>
                <li class="<%= "active" if request.path == main_app.new_contact_path %>"><a href="<%= main_app.new_contact_path%>">Contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
   				<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="my_account">My Account <b class="caret"></b></a>
                  <ul class="dropdown-menu" id= "my_account_options">
              
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
		<%= yield %>
	</div>
	 <div id="footer">
      <div class="container">
        <p class="text-muted text-center">Get addicted to doing good.</p>
      </div>
    </div>
</body>
</html>
